body{
    padding: 0 0.5rem;
}

.container-nav{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.container-nav a{
    font-size: 14px;
    color: #00c;
    padding-right:0.5rem ;
}
.container-msg{
        background-color: #FAE5B0;
}
nav{
    display: flex;
    align-items: center;
}
iframe{
    float: left;
}
.conatiner-gmail{
    display: flex;
    flex-direction: row;
    justify-items: normal;
    align-items: center;
}